{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-8 mx-auto">

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Resource edit</h3>
                        <div class="card-text">
                            {{ form_start(edit_form) }}
                            <div class="border border-white row">
                                <label for="url"
                                       class="col-4 col-form-label">{{ form_label(edit_form.url) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.url) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="type"
                                       class="col-4 col-form-label">{{ form_label(edit_form.type) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.type) }}
                                </div>
                            </div>

                            <div class="border border-white  row">
                                <div class="col-sm-4 textarea">
                                    {{ form_widget(edit_form.save) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form, {'action': path('resource_delete',{'id':resource.id})}) }}
                        <input type="submit" value="Delete" class="btn btn-danger">       
                        {{ form_end(delete_form) }}
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
